<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <html data-theme="cupcake"></html>
    <title>About</title>
</head>
<body>
  <%- include('partials/navbar', {page: '/about'}) %>
    <div class="container mx-auto">
        <div class="hero min-h-screen bg-base-200">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">About</h1>
                <p class="py-6">All About me !</p>
               </div>
             </div>
        </div>

        <div class="container mx-auto">
            <div class="flex" style="justify-content: center;">
              <div class="prose">
                <p style="text-align: center;">
                    Hello there! I'm Mehtab Singh Jagde, currently pursuing a Computer Programming and Analysis course at Seneca College. My passion for technology has led me to explore the fascinating world of web designing, which I consider more than just a hobby—it's a creative outlet that allows me to bring my ideas to life
                    in the digital realm. What truly sets my heart on fire, however, is my relentless curiosity for finance. I'm on a journey to understand the intricacies of financial systems and explore innovative ways to make a difference in this field. I thrive on the idea of standing out from the crowd and doing something unique that 
                    challenges the status quo.</p>
              </div>
      </div>   
    </div>
  </div>
</body>
</html>