<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <html data-theme="cupcake"></html>
    <title>Lego Collection</title>
  </head>
</html>
<body>
  <%- include('partials/navbar', {page: '/home'}) %>
  <div class="container mx-auto">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Hello there</h1>
          <p class="py-6">
            Welcome to the ultimate ride into the world of lego.
          </p>
          <button class="btn btn-primary">
            <a href="/lego/sets">Get Started</a>
          </button>
        </div>
      </div>
    </div>

    <div class="flex-container">
      <div class="border-2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/sets/001-1.jpg"
              alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Gears!</h2>
            <p>
              Lego gears are a popular building toy component that allows
              children and adults to create intricate and functional mechanical
              systems within their Lego creations.
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">
                <a href="/lego/sets/001-1">Buy Now</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="border-2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/sets/0011-3.jpg"
              alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Castle 2 for 1 Bonus Offer (LEGOLAND) !</h2>
            <p>
              LEGOLAND is a popular chain of theme parks and resorts that cater
              to families and fans of LEGO, the iconic plastic building toy.
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">
                <a href="/lego/sets/0011-3">Buy Now</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="border-2">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              src="https://cdn.rebrickable.com/media/sets/0012-1.jpg"
              alt="Shoes" />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Space Mini-Figures !</h2>
            <p>
              Lego Space Minifigures are a category of Lego minifigures with a
              distinct space-themed design.
            </p>
            <div class="card-actions justify-end">
              <button class="btn btn-primary">
                <a href="/lego/sets/0012-1">Buy Now</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
